<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/src/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/src/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/src/img/favicon-16x16.png">
</head>

<body>

<div class="container">
    <header>
        <div class="">
            logo
        </div>
        <div class="">
            navigation
        </div>
    </header>
</div>

<main>
    <div class="container">
        <section>
            <form id="url-form" class="form" onsubmit="return Client.handleSubmit(event)">
                <label for="url"></label><input id="url" class="form" type="text" name="input" value=""
                                                placeholder="Type in URL to perform Sentiment Analysis">
                <button id="submit" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)"
                        onsubmit="return Client.handleSubmit(event)"><strong>Submit</strong></button>
            </form>
        </section>

        <section class="results">
            <strong class="title">Form Results:</strong>
            <div id="input_text"></div>
            <div id="score_tag"></div>
            <div id="agreement"></div>
            <div id="subjectivity"></div>
            <div id="confidence"></div>
            <div id="irony"></div>
        </section>

    </div>
</main>

<footer>

    <div class="container">
        <p>This is a footer</p>

    </div>
</footer>

<script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
</script>

</body>
</html>
