$font-stack: Helvetica, sans-serif;
$font-main: Helvetica, sans-serif;
$primary-color: gold;
$secondary-color: pink;
$theme-secondary: #000000;
$font-main: fantasy;
$theme-spacing: 25px;

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $secondary-color;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}
